:root {
  --themeBlue: #3871c1;
  --themeGreen: #90d347;
  --title-color: #141313;
  --text-color: #777777;
  --border-color: #201f1f17;
  --themeGradient: linear-gradient(
    to right,
    #3871c1,
    #0095d7,
    #00b1c0,
    #00c788,
    #90d347
  );
  --shadow-color: 0px 10px 30px rgba(118, 85, 225, 0.3);
  --box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);

  --pageFont: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
